# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(f"touple series is :- {tup}")

touple series is :- (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(f"First element in tuple :- {tup[0]}")
print(f"Middle element of the list :- {tup[len(tup)//2]}")
print(f"Last element of the tuple :- {tup[len(tup)-1]}")

First element in tuple :- 1
Middle element of the list :- 6
Last element of the tuple :- 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignmen

In [10]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(f"First three elements in the touple :- {tup[0:3:]}")
print(f"Last three elements in the touple {tup[-3::]}")
print(f"Elements from index 2 to 5 :- {tup[2:5:]}")

First three elements in the touple :- (1, 2, 3)
Last three elements in the touple (8, 9, 10)
Elements from index 2 to 5 :- (3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Touple :- ")
for t in tup:
    print(t)

print(f"Toule element from second row and third column :- {tup[1][2]} ")

Touple :-
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Toule element from second row and third column :- 6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [13]:
tup1 = (1,2,3)
tup2 = (4,5,6)
print(f"Concatination of two touples:- {tup1+tup2}")

Concatination of two touples:- (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [14]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [16]:
tup = (1,2,3,4,5)
a,e,i,o,u = tup
print(f"Unpacked tuple is :- {a,e,i,o,u}")

Unpacked touple is :- (1, 2, 3, 4, 5)

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [17]:
lst = [3,6,9,12,15]
print(f"List converted in tuple :- {tuple(lst)}")

List converted in tuple :- (3, 6, 9, 12, 15)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [18]:
tuples = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(f"Created tuple :- {tuples}")

Created tuple :- ((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [19]:
first_tuple = (5,10,15,20,25)
first_list = list(first_tuple)
first_list.append(6)
final_tuple = list(first_list)
print(f"Final tuple will be:- {final_tuple}")

Final tuple will be:- [5, 10, 15, 20, 25, 6]


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [20]:
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [21]:
tup = {
    (1,2):3,
    (4,5):6,
    (7,8):9
}
print(tup)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [23]:
tuples = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for i in range(len(tuples)):
    for j in range(len(tuples[i])):
        print(tuples[i][j],end=" ")

1 2 3 4 5 6 7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [3]:
tup = (1,2,3,4,5,6,7,92,4,56,32,4,42,4,5)
new_set = set(tup)
print(new_set)

5

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
def Multiple_function(tup):
    sorted(tup)
    print(f"Minimum element of the tuple is:- {tup[0]}")
    print(f"Maximum element of the tuple is :- {tup[len(tup)-1]}")
    print(f"Addition of the elements in the tuple is :- {sum(tup)}")

tu = (1,2,3,4,2,2,33,93,3,35)
Multiple_function(tu)

Minimum element of the tuple is:- 1
Maximum element of the tuple is :- 35
Addition of the elements in the tuple is :- 178