# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
Set = {1,2,3,4,5,6,7,8,9,10}
print(f"Set of first 10 positive integer is :- {Set} \n Type of the set is :- {type(Set)}")

Set of first 10 positive integer is :- {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
 Type of the set is :- <class 'set'>

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
Set = {1,2,3,4,5,6,7,8,9,10}
Original_set = Set.copy()
Set.add(11)
Set.remove(1)
print(f"Original set is :- {Original_set}")
print(f"Modified set is :- {Set}")

Original set is :- {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Modified set is :- {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [5]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}
print(f'Union of both the set1 and set2 is :- {set1.union(set2)}')
print(f'Intersection of both the set1 and set2 is :- {set1.intersection(set2)}')
print(f'Difference of both the set1 and set2 is :- {set1.difference(set2)}')
print(f'Symmentric difference of both the set1 and set2 is :- {set1.symmetric_difference(set2)}')

Union of both the set1 and set2 is :- {1, 2, 3, 4, 5, 6, 8, 10}
Intersection of both the set1 and set2 is :- {2, 4}
Difference of both the set1 and set2 is :- {1, 3, 5}
Symmentric difference of both the set1 and set2 is :- {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [8]:
st = {1,2,3,4,5,6,7,8,9,10}
updated_set = {ele**2 for ele in st}
print(f"updated set of given set is :- {sorted(updated_set)}")

updated set of given set is :- [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [9]:
Set = {1,2,3,4,5,6,7,8,9,10}
new_set = {ele for ele in Set if ele%2==0}
print(f"New set of only even number of elements :- {new_set}")

New set of only even number of elements :- {2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [11]:
St = {1,2,4,3,2,4,2,7}
updated_set = set(St)
print(f"updated set of the given set is :- {updated_set}")

updated set of the given set is :- {1, 2, 3, 4, 7}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [12]:
set1 = set(range(1, 6))
set2 = set(range(1, 4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [13]:
set1 = frozenset(range(1, 6))
print(set1)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [15]:
set1 = set(range(1,6))
lst = list(set1)
lst.append(6)
print(f"Resulting set is :- {set(lst)}\n type of resulting set is {type(set(lst))}")

Resulting set is :- {1, 2, 3, 4, 5, 6}
 type of resulting set is <class 'set'>

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [17]:
dict = {
   frozenset( {1,2}):3,
    frozenset({4,5}):6,
    frozenset({7,8}):9,

}
print(dict)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [19]:
st = {1, 2, 3, 4, 5, 6}
print("Set elements:- ",end='')
for i in st:
    print(i,end=',')

Set elements:- 1,2,3,4,5,6,


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [21]:
st = {1, 2, 3, 4, 5, 6}
while st:
    a = st.pop()
    print(a, end=' ')

1 2 3 4 5 6

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [23]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {2,4,6,8,10,12,14,16,18,20}
sementric_df = set1.symmetric_difference(set2)
print(f"Modifien set is :- {set1.union(sementric_df)}")

Modifien set is :- {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [1]:
sets = {1,2,3,4,6,7,8,9}
num = 4
if num in sets:
    print("Number is present in the list.")
else:
    print("Number is not present int")

Number is present in the list.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [5]:
set_with_touple = {(1,2),(3,4),(5,6),(7,8),(9,10),(11,12)}
print(f"Set with touple :- {sorted(set_with_touple,reverse=True)}")

Set with touple :- [(11, 12), (9, 10), (7, 8), (5, 6), (3, 4), (1, 2)]